SMART_AGENTS_EMAIL =  smartagents default email
SMART_AGENTS_GROUP_INVITE_LINK = smartagents default group invite link

HP_256_WHATSAPP_NO = hassan programmer default whatsapp number
HP_256_WHATSAPP_LINK = hassan programmer default whatsapp link
HP_256_LINKEDIN_LINK = hassan programmer default linkedin link
HP_256_GITHUB_LINK = hassan programmer default github link

VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id

VITE_EMAILJS_TO_EMAIL = email address where enrollment notifications will be sent, can be the same as VITE_SMART_AGENTS_EMAIL or any other email address you want to use for receiving notifications.

VITE_GOOGLE_RECAPTCHA_SITE_KEY=your_google_recaptcha_site_key
VITE_GOOGLE_RECAPTCHA_SECRET_KEY=your_google_recaptcha_secret_key